* {
    font-family: 'Open Sans', sans-serif;
    
  }
  
  html, body, .full-screen {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
  }
  .full-screen {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  //
  // Gradient system
  //
  $gradients: () !default;
  $gradients: map-merge((
      gryffindor: linear-gradient(135deg, #d3b327 0%,#4b0707 100%),
      twisted: linear-gradient(to right, #0f2027, #203a43, #2c5364)
  ), $gradients);
  
  
  // Gradient backgrounds
  @mixin bg-gradient($parent, $gradient) {
    #{$parent} {
      background: $gradient;
    }
  }
  
  // Gradient Classes 
  @each $gradient, $value in $gradients {
    @include bg-gradient(".bg-gradient-#{$gradient}", $value);
  }
  
  
  