@import "./falling";
@import "./gradients";



.title  {
    color: #fff;
    font-size: 5vw;
    display: flex ;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;    
}

.userInput, .textbox {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    input {
        border-radius: 55vw;
        border:none;
        outline:none;
        width: 60%;
        height: 1vw;
        padding: 1vw;
        text-align: center;
        display: flex;
        justify-content: center;
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

::placeholder {
    color: #b3b0b0;
    font-size: 1.5vw;
}

p {
    color: #ffffff;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    margin: 5vh 0;
}

button {
    background-color: #862e2e;
    position:absolute;
    right: 14vw;
    border:none;
    outline: none;
    color: #ffffff;
    border-radius:5vw;
    
    font-weight:bold;
    padding: .6vw;
    font-size: .9vw;
    :hover {
    cursor:pointer;
    color: #d8bc1b;
    }
  }

  .buttonInside {
    position:relative;
  }

  #a:hover {
    background-color: transparent;
  }

#message1, #message2, #textOutput {
  color: #ffffff;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    padding-bottom: 1vw;
}

#enterName {
  right: 1vw;
  width: 5vw;
  font-size: 1vw;
  background-color: rgb(6, 14, 10);
  :hover {
    background-color: rgb(112, 28, 28);
  }
}

#name {
  width: 60%;
}

.twisted {
  animation: float 6s ease-in-out infinite;
}


@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}